.idea/

# tex temp files
specification/level-1-version-3/sed-ml-L1V3.aux
specification/level-1-version-3/sed-ml-L1V3.log
specification/level-1-version-3/sed-ml-L1V3.out
specification/level-1-version-3/sed-ml-L1V3.synctex.gz
specification/level-1-version-3/sed-ml-L1V3.toc
specification/level-1-version-3/sources/dataSourceClass.aux
specification/level-1-version-3/sed-ml-L1V3.bbl
specification/level-1-version-3/sed-ml-L1V3.blg

